{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tooleap</title>
    <link rel="shortcut icon" type="image/png" href="{%static '/favicon.png'%}"/>

</head>
<body>
    {% if user.is_staff %}
    <h1>Tooleap - New Course Created </h1>
    <p> Hi {{ user.username }}! </p>
    <p><a href="/accounts/logout/">logout</a></p>
    <p> Tooleap / <a href ="/quiz/teacher"> Courses </a> / Teacher View / New Course / Added Course</p>
    <h2> The Following Course Was Added Sucessfully </h2>
    <div>
      <p>Course ID: {{course_id}} | Course Name: {{course_name}} </p>
      <p>Course Description: {{course_desc}}</p>
    </div>
    <h3> <a href ="/quiz/teacher"> Back To Courses Teacher View </a> </h3>
    <br>
    <br><br>
    {% else %}
      <p>You are not a teacher </p>
      <a href="/quiz/">Students</a>
    {% endif %}
</body>
</html>
