<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tooleap</title>
</head>
<body>
    <h1>Tooleap Course</h1>
    <p> Hi {{ user.id }}! </p>
    <p><a href="/accounts/logout/">logout</a></p>
    <p> Tooleap / <a href ="/quiz"> Courses </a> / {{course_name}} / Custom Quiz </p>
    <ul>
      {{user.username}}'s Custom Quiz for Course {{course_name}} <br>
      Quiz Category: {{custom_category}} <br>
      Total Number of Questions: {{total_questions}} <br>
      Number of Hard Questions: {{true_num_hard}}<br>
      Number of Medium Questions: {{true_num_medium}} <br>
      Number of Easy Questions: {{true_num_easy}} <br>
    </ul>
    <h1>Custom Quiz Questions</h1>
    <ul>  
      <form method="post" action="/quiz/course/{{user.id}}/{{course_id}}/answers"> 
      {% for question, answers in questions_dict.items %}
        <p>
        Q {{question}} <br>
              {% csrf_token %}
              {% for answer in answers %}
                  <input type="radio" name="{{question}}" id="answer{{ forloop.counter }}" value="{{ answer.answer_text }}" />
                  <label for="answer{{ answer }}">{{ answer }}</label><br>
              {% endfor %}
            <br>
        </p>
      {% endfor %}
    <br> <br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>
