{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta charset="utf-8">
    <title>Tooleap</title>
</head>
<body>
    <h1>Tooleap Course</h1>
    <ul>
    {% for course in courses_list %}
        <li>Course Name: {{ course.course_name }} | Course Description:  {{ course.course_desc }} <a href="/quiz/course/{{course.id}}/build_quiz">   | Create Quiz  | </a> <a href="/quiz/course/{{course.id}}/progress"> View Progress </a>
         <a href="/quiz/course/{{course.id}}/questions"> |  View Questions </a>
         <a href="/quiz/course/{{course.id}}/answers"> |  View Answers </a>
         </li>
    {% endfor %}
    </ul>
</body>
</html>
