<!doctype html>
{% load static %}

<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="{%static '/favicon.png'%}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tooleap</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">
    <style>
      table {
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
      }

      th {
          cursor: pointer;
      }

      th, td {
          text-align: left;
          padding: 16px;
      }
      </style>
    </head>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <style>
  #navinav{
    position: fixed;
    width: 100%;

  }
#prograss1, #prograss2, #prograss3, #prograss4{
  margin-top: 80px;
}
  </style>
  <div id="wrapper">

    <nav  id="navinav" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

      <a class="navbar-brand" ><img id = "logo" src="{% static 'data/logoTooleap.jpeg' %} "height="45" width="200" > </a>
      <br><br><br>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
          <a href="/quiz/course/{{course_id}}/{{user.id}}/smart_quiz">	<button type="button" class="btn btn-primary" title="This will create a quiz with question you tried and got wrong">Start Smart Quiz </button> </a>
          <a href="/quiz/course/{{course_id}}/build_quiz"><button type="button" class="btn btn-primary">Create Quiz</button></>
          <a href="/quiz/auto_generated/{{course_id}}">	<button type="button" class="btn btn-primary">Start Random Quiz </button> </a>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/"><i class="fa fa-user fa-fw"></i> Profile</a>
                    </li>
                    <li><a href="/quiz"><i class="fa fa-mortar-board fa-fw"></i> Courses</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

    </nav>
        <div id="page-wrapper">


                <!-- /.col-lg-12 -->

            <!-- /.row -->

                <div id="prograss1"class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-circle fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div> Right Answers:</div>
                                    <div class="large">{{all_right}}/{{all_questions}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="prograss2" class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-mortar-board fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Place in Class: </div>
                                    <div class="large"> {{percentile}} out of {{total_users}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="prograss3" class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bell fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Questions Left:</div>
                                    <div class="large">{{user_unsolved_questions_count}} out of {{total_number_of_course_questions}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="prograss4" class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-trophy fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                  <div>Tooleap Level:</div>
                                    <div class="large">{%if tooleap_not_started %} <img id = "level1" src="{% static 'data/level1.png' %} "height="50" width="50"> {%endif%}</div>
                                    <div class="large">{%if tooleap_baby %} <img id = "level1" src="{% static 'data/level1.png' %} "height="50" width="50"> {%endif%}</div>
                                    <div class="large">{%if tooleap_student %} <img id = "level2" src="{% static 'data/level2.png' %} "height="50" width="50">  {%endif%}</div>
                                    <div class="large">{%if tooleap_master %}  <img id = "level3" src="{% static 'data/level3.png' %} "height="50" width="50"> {%endif%}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- /.row -->

            <div class="col-lg-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">  Category Distribution </div>
                        <div id="container1"> </div>
                        <script src="https://code.highcharts.com/highcharts.src.js"></script>
                        <script>
                        Highcharts.chart('container1', {
                            chart: {
                                type: 'column',
                                className: 'nift'
                            },
                            title: {
                                text: 'Answers By Category'
                            },
                            xAxis: {
                                categories: [
                                  {% for category, answers in answers_per_category.items %}'{{ category }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                                ]
                            },
                            series: [{
                                name: 'Right',
                                data: [
                                  {% for category, answers in answers_per_category.items %}{{ answers.right }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                ],
                                color: 'green'
                            }, {
                                name: 'False',
                                data: [
                                  {% for category, answers in answers_per_category.items %}{{ answers.false }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                ],
                                color: 'red'
                            }]
                        });

                      </script>
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-6 -->
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
Quiz Progress
</div>
<div id="container2"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>

var arr_dates = []
var arr_right_ans = []
var arr_wrong_ans = []

{% for quiz, answers in answers_per_quiz.items %}
arr_dates.push("{{answers.quiz_time}}");
{% endfor %}



Highcharts.chart('container2', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Progress By Quiz'
    },
    subtitle: {
        text: "Showing Percentage Of Right Answers"
    },
    xAxis: {
        categories: arr_dates,
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        }
    },
    yAxis: {
        title: {
            text: 'Percentage Of Right Answers'
        },
        labels: {
            formatter: function () {
                return this.value;
            }
        }
    },
    tooltip: {
        split: true,
        valueSuffix: '%'
    },
    plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        }
    },
    series: [{
        name: 'Percentage Of Right Answers',
        data: {{arr_right_percentage}}
    }]
});

</script>
</div>
</div>


<div class="col-lg-4">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         Hard Quesions Answer Distribution
                     </div>
<div id="container3"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
var hard_right = {{hard_right}};
var hard_false = {{hard_false}};



Highcharts.chart('container3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: 'Question Level: <br>Hard<br>',
        align: 'center',
        verticalAlign: 'middle',
        y: 40
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%']
        }
    },
    series: [{
        type: 'pie',
        name: 'Question Level: Hard',
        innerSize: '50%',
        data: [
            ['Right', hard_right],
            ['Wrong', hard_false]
        ]
    }]
});
</script>
 </div>
  </div>

  <div class="col-lg-4">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Medium Quesions Answer Distribution Distribution
                       </div>
<div id="container4"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
var medium_right = {{medium_right}};
var medium_false = {{medium_false}};
Highcharts.chart('container4', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: 'Question Level: <br>Medium<br>',
        align: 'center',
        verticalAlign: 'middle',
        y: 40
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%']
        }
    },
    series: [{
        type: 'pie',
        name: 'Question Level: Medium',
        innerSize: '50%',
        data: [
            ['Right', medium_right],
            ['Wrong', medium_false]
        ]
    }]
});
</script>
</div>
</div>

<div class="col-lg-4">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         Easy Quesions Answer Distribution
                     </div>
<div id="container5"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
var easy_right = {{easy_right}};
var easy_false = {{easy_false}};
Highcharts.chart('container5', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        text: 'Question Level: <br>Easy<br>',
        align: 'center',
        verticalAlign: 'middle',
        y: 40
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white'
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%']
        }
    },
    series: [{
        type: 'pie',
        name: 'Question Level: Easy',
        innerSize: '50%',
        data: [
            ['Right', easy_right],
            ['Wrong', easy_false]
        ]
    }]
});
</script>
</div>
</div>

<div class="col-lg-12">
   <div class="panel panel-default">
               <div class="panel-heading">
                   Questions You Got Wrong - These Will Be Used in the Smart Quiz
               </div>
<table id="myTable">
  <tr>
    <th>Question Text </th>
    <th onclick="sortTable(1)">Wrong Answers</th>
    <th >Level</th>
    <th onclick="sortTableString(3)">Category</th>
  </tr>
  {% for question in arr_user_wrong_answers %}
  {% csrf_token %}
  <!-- {{ forloop.counter }} -->
  <tr>
      <td> {{question.question_text}} </td>
      <td>{{question.wrong_answers}}</td>
      <td>{{question.level}}</td>
      <td>{{question.category}} </td>
  </tr>

  {% endfor %}
</table>
</div>
</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>


    <!-- Morris Charts JavaScript -->
    <script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'vendor/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'data/morris-data.js' %}"></script>

	  <script src="{% static 'vendor/flot/excanvas.min.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendor/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'data/flot-data.js' %}"></script>

    <script>
    sortTable(1)
    sortTable(1)
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
              }
            } else if (dir == "desc") {
              if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }

      function sortTableString(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("myTable");
          switching = true;
          //Set the sorting direction to ascending:
          dir = "asc";
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /*check if the two rows should switch place,
              based on the direction, asc or desc:*/
              if (dir == "asc") {
                if (x.innerHTML > y.innerHTML) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch= true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML < y.innerHTML) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              //Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /*If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again.*/
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
      </script>

</body>
</html>
