<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tooleap</title>
</head>
<body>
    <h1>Tooleap - Create Your Quiz</h1>
    <p> Hi {{ user.username }}! </p>
    <p><a href="/accounts/logout/">logout</a></p>
    <p> Tooleap / <a href ="/quiz"> Courses </a> / {{course_name}} / Quiz Builder </p>
    <form method="post" action="/quiz/custom_quiz/{{course_id}}/">
    <h2> Select Quiz Category from {{course_id}} (Only One Category) </h2>
    {% for category in course_categories %}
        <input type="radio" name="category" id="category{{ forloop.counter }}" value="{{ category.category_name }}" />
        <label for="{{ category }}">{{ category }}</label><br>
    {% endfor %}
    <div>
      <h2> Select Number Of Questions In Each Difficulty </h2>
      <input type="text" name="hard" value="5" id="hard" > Number of Hard Questions <br>
      <input type="text" name="medium" value="10" id="medium" > Number of Medium Questions <br>
      <input type="text" name="easy" value="5" id="easy" > Number of Easy Questions<br>
    </div>
    <!-- TODO Enter Validations -->
    <br>

    <br><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
