<!doctype html>
{% load static %}

<html>
<head>
  <title>Tooleap - Progress</title>
  <link rel="shortcut icon" type="image/png" href="{%static '/favicon.png'%}"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">



  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
  table {
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
  }

  th {
      cursor: pointer;
  }

  th, td {
      text-align: left;
      padding: 16px;
  }
  </style>
</head>
<body>
    {% if user.is_staff %}
    <div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

      <a class="navbar-brand" ><img id = "logo" src="{% static 'data/logoTooleap.jpeg' %} "height="45" width="200" > </a>
      <br><br><br>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
              <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/"><i class="fa fa-user fa-fw"></i> Profile</a>
                    </li>
                    <li><a href="/quiz"><i class="fa fa-gear fa-fw"></i> Courses</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

    </nav>

    <div id="page-wrapper">

                  <div class="col-lg-12">
                      <h1 class="page-header">Hi {{ user.username }}! </h1>
                  </div>
                  <!-- /.col-lg-12 -->

              <!-- /.row -->

                  <div class="col-lg-3 col-md-6">
                      <div class="panel panel-primary">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-check-circle fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                      <div> Active Students:</div>
                                      <div class="large">{{number_of_students_that_started_answering_questions_in_course}}</div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="panel panel-green">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-mortar-board fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                      <div>Total Number Of Questions in Course: </div>
                                      <div class="large">  {{number_of_course_questions}}</div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="panel panel-yellow">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-bell fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                      <div>Last Question Uploaded:</div>
                                      <div class="large">{{last_quesions_upload}}</div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>

                  <div class="col-lg-12">
                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         Category Distribution
                                     </div>
                            <!-- /.panel-heading -->
                            <div id="container1"></div>
                            <script src="https://code.highcharts.com/highcharts.src.js"></script>
                            <script>
                            Highcharts.chart('container1', {
                                chart: {
                                    type: 'column',
                                    className: 'nift'
                                },
                                title: {
                                    text: 'Answers By Category'
                                },
                                xAxis: {
                                    categories: [
                                      {% for category, answers in answers_per_category.items %}'{{ category }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                                    ]
                                },
                                series: [{
                                    name: 'Right',
                                    data: [
                                      {% for category, answers in answers_per_category.items %}{{ answers.right }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                    ],
                                    color: 'green'
                                }, {
                                    name: 'False',
                                    data: [
                                      {% for category, answers in answers_per_category.items %}{{ answers.false }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                    ],
                                    color: 'red'
                                }]
                            });

                          </script>
                        </div>
                        <!-- /.panel -->
                    </div>
    <div class="col-lg-12">
       <div class="panel panel-default">
                   <div class="panel-heading">
                       Students Status
                   </div>
    <table id="myTable">
      <tr>
        <th>Student Name</th>
        <th onclick="sortTable(1)">No. of Right Answers</th>
        <th onclick="sortTable(2)">No. of Wrong Answers</th>
        <th onclick="sortTable(3)">Percentage of Right Answers</th>
        <th>Last Quiz By User</th>
      </tr>
      {% for user, details in users_details_dict.items %}
      {% csrf_token %}
      <!-- {{ forloop.counter }} -->
      <tr>
          <td> {{details.user_name}} </td>
          <td>{{details.right_answers}}</td>
          <td>{{details.wrong_answers}}</td>
          <td>{{details.right_percentage}} % </td>
          <td>{{details.latest_quiz}}</td>
      </tr>

      {% endfor %}
    </table>
</div>

       <div class="panel panel-default">
                   <div class="panel-heading">
                       Question Details
                   </div>
    <table id="myQuestionsTable">
      <tr>
        <th>Question Text</th>
        <th onclick="sortQuestionTable(1)">No. of Right Answers</th>
        <th onclick="sortQuestionTable(2)">No. of Wrong Answers</th>
        <th onclick="sortQuestionTable(3)">Percentage of Right Answers</th>
        <th>Category</th>
        <th>Question Level</th>
        <th>Question Upload Date</th>
      </tr>
      {% for question, details in course_answers_details.items %}
      {% csrf_token %}
      <!-- {{ forloop.counter }} -->
      <tr>
          <td>  <a href="/quiz/teacher/course/{{course_id}}/progress/{{question}}/question_distribution"> {{details.question_text}} </a> </td>
          <td>{{details.right_answers}}</td>
          <td>{{details.wrong_answers}}</td>
          <td>{{details.right_percentage}} % </td>
          <td> {{details.question_category}} </td>
          <td> {{details.question_level}} </td>
          <td>{{details.question_uploaded}}</td>
      </tr>

      {% endfor %}
    </table>
</div>
</div>

</div>


<script>
sortTable(3)
sortTable(3)
sortQuestionTable(2)
sortQuestionTable(2)
function sortQuestionTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myQuestionsTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>
    {% else %}
      <p>You are not a teacher you can't view all students progress </p>
      <a href="/quiz/">Students</a>
    {% endif %}
</body>
</html>
