<!doctype html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>Tooleap - Progress</title>
  <style>
  table {
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
  }

  th {
      cursor: pointer;
  }

  th, td {
      text-align: left;
      padding: 16px;
  }
  </style>
</head>
<body>
    {% if user.is_staff %}
    <h1 id="titleProgress">Tooleap Teacher Progress View Page </h1>
    <p> Hi {{ user.username }}! </p>
    <p><a href="/accounts/logout/">logout</a></p>
    <section class="stat">
      <section id="stat1"> Students That Started Answering Questions in Course: {{number_of_students_that_started_answering_questions_in_course}} </section>
      <section id="stat2"> Total Number Of Questions in Course: {{number_of_course_questions}} </section>
      <section id="stat3"> Last Question Uploaded {{last_quesions_upload}} </section>
    </section>
    <table id="myTable">
      <tr>
        <th>Student Name</th>
        <th onclick="sortTable(1)">No. of Right Answers</th>
        <th onclick="sortTable(2)">No. of Wrong Answers</th>
        <th onclick="sortTable(3)">Percentage of Right Answers</th>
        <th>Last Quiz By User</th>
      </tr>
      {% for user, details in users_details_dict.items %}
      {% csrf_token %}
      <!-- {{ forloop.counter }} -->
      <tr>
          <td> {{details.user_name}} </td>
          <td>{{details.right_answers}}</td>
          <td>{{details.wrong_answers}}</td>
          <td>{{details.right_percentage}} % </td>
          <td>{{details.latest_quiz}}</td>
      </tr>

      {% endfor %}
    </table>

      <div class="col-lg-12">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Category Distribution
                         </div>
                <!-- /.panel-heading -->
                <div id="container1"></div>
                <script src="https://code.highcharts.com/highcharts.src.js"></script>
                <script>
                Highcharts.chart('container1', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Answers By Category'
                    },
                    xAxis: {
                        categories: [
                          {% for category, answers in answers_per_category.items %}'{{ category }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                        ]
                    },
                    series: [{
                        name: 'Right',
                        data: [
                          {% for category, answers in answers_per_category.items %}{{ answers.right }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        ],
                        color: 'green'
                    }, {
                        name: 'False',
                        data: [
                          {% for category, answers in answers_per_category.items %}{{ answers.false }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        ],
                        color: 'red'
                    }]
                });

              </script>
            </div>
            <!-- /.panel -->
        </div>



<script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
        one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>
    {% else %}
      <p>You are not a teacher you can't view all students progress </p>
      <a href="/quiz/">Students</a>
    {% endif %}
</body>
</html>
