h1
{
  color: red;
}

#titleProgress
{
  color: red;
}

#userimg
{
padding-right: 30px;
padding-left: 80px;
}

.stat
{
  margin-left: 5px;
  padding-right: 45px;
  padding-left: 90px;
}

#stat1 , #stat2
{
  width: 40px;
  display: inline-block;
  background-color: gray;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 20px;
  padding-bottom: 8px;
}
 #stat3
 {
   width: 40px;
   display: inline-block;
   background-color: gray;
   padding-left: 3px;
   padding-right: 3px;
   padding-top: 8px;
   padding-bottom: 8px;
 }
 .mainStat
 {

 }

 #mainStat1
 {
   height: 350px;
   width: 350px;
   margin-top: 30px;
   margin-left: 80px;
   display: inline-block;
   border-style: solid;
   float: left;
 }

 #mainStat2
{
  height: 350px;
  width: 350px;
  margin-top: 30px;
  margin-left: 50px;
  display: inline-block;
  border-style: solid;
  float: left;
}
  #mainStat3
  {
    height: 350px;
    width: 350px;
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
    border-style: solid;
    float: left;
  }

#piechart
{
  display: inline-block;
}
